
@media screen and (max-width: 400px) and (min-width: 350px) {
  .uey{
    top: 95% !important;
    left: 2% !important;
  }
  .search{
    // display: none !important;
    // border: 1px solid red !important;
    left: 2.5% !important;
    top: 20% !important;
  }

  .manage-fr{
    left: 0% !important;
    top: 30% !important;
    width: 99vw !important;
    height: 70vh !important;
    &::-webkit-scrollbar {
      width: 0px !important; 
      background: transparent !important; /* make scrollbar transparent */
  }
  // border: 1px solid red !important;
  }

  .erp{
    left: 0% !important;
    top: 30% !important;
    width: 99vw !important;
    height: 70vh !important;
    &::-webkit-scrollbar {
      width: 0px !important; 
      background: transparent !important; /* make scrollbar transparent */
  }
  // border: 1px solid red !important;
  }

  .add{
    // border: 1px solid red !important ;
    left: 0% !important;
    top: 30% !important;
    width: 99.5vw !important;
    height: 70vh !important;
    &::-webkit-scrollbar {
      width: 0px !important; 
      background: transparent !important; /* make scrollbar transparent */
  }
  }

  .nav-setting-user{
    display: none !important;
  }
  .searchRole{
    // display: none;
    top: 15% !important;
    height: 60px !important;
    left: 5.5% !important;
    .searchp{
      margin-top: 1% !important;
    }

    .searchpp{
      margin-top: -30px !important;
    }
  }

  .role{
    // border: 1px solid red;
    left: 0% !important;
    width: 99vw !important;
    top: 30% !important;
    height: 70vh !important;
    &::-webkit-scrollbar {
      width: 0px !important; 
      background: transparent !important; /* make scrollbar transparent */
  }
  }
  // .meus1{
  //   // text-align: center !important;
  //   font-size: 20px !important;
  //   margin-left: 45px !important;
  //   margin-top: 40px !important;
  // }

  .root2{
    position: absolute !important;
    box-shadow: 0px 0px 15px -5px !important;
    top: 8% !important;
    border-radius: 10px 10px !important;
    // border: 1px solid red !important;
    width: 20vw !important;
    height: 33px !important;
    left: 20px;
    width: 375px;
    // border: 1px solid red !important;
    .root3{
      position: absolute !important;
    
      left: 2% !important;
      top: 2% !important;
      width: 30px !important;
      height: 30px !important;
      display: block !important;
    }
  }
  
  .chart{
    margin-left: 0% !important;
    margin-top: 30% !important;
    width: 99vw !important;
  }
  .Upcomment{
    margin-left: 2% !important;
    margin-top: 90% !important;
  }

  .uey1{
    top: 95% !important;
    left: 10% !important;
  }
  .chiopl{
    top: 95% !important;
    left: 20% !important;
    width: 290px !important;
    height: 27px !important;
    // border: 1px solid red !important;
    .chat-con{
      width: 290px !important;
      height: 25px !important;
      // border: 1px solid red !important;
      .input-chat{
        height: 23px !important;
        // font-size: 15px !;
        margin-top:0% !important;
        width: 260px !important;
       
      }
    }
  }

  .group{
    // border: 1px solid red !important;
    width: 99.5vw !important;
    height: 18vh !important;
    .headgroup{
      width:  99.5vw !important;
      height: 5vh !important;
      .avatargr{
        display: none;
      }
      .createo{
        margin-top: 5px !important;
        margin-left: 20px !important;
      }
    }
    .listmem{
      &::-webkit-scrollbar {
        width: 0px !important; 
        background: transparent !important; /* make scrollbar transparent */
    }
      overflow-y: scroll !important;
      overflow-x: hidden !important;
      
      width: 99.5vw !important;
      height: 85px !important;
      .groupoo{
        margin-left: 3px !important;
        // border: 1px solid red !important;
        position: relative !important;
        float: left !important;
        .avtargr{
          position: relative !important;
        }
        .p-goup{
          margin-top: -22px !important;
          position: relative !important;
        }
       
      }
    }
  }

  .chati{
    // display: none;
    // border: 1px solid red;
    // overflow: scroll !important;
    &::-webkit-scrollbar {
      width: 0px !important; 
      background: transparent !important; /* make scrollbar transparent */
  }
    left: 0% !important;
    top: 33% !important;
    width: 99vw !important;
    height: 60vh !important;
    .r{
      margin-top: 15px !important;
    }
    .t{
      margin-top: 15px !important;
    }
   
  }
  .headerchat{
    top: 25% !important;
    width: 99.5vw !important; 
    // border: 1px solid red !important;
    left: 0% !important;
    .nameavto{
      width: 30px !important;
      height: 30px !important;
    }
    .name{
      font-size: 15px !important;
      left: 20% !important;
    }
    .meni{
      margin-left: 90% !important;
    }
  }

  .listfriend{
    display: none !important;
  }

  .navf{
    display: none;
  }
  .wib{
    top: 30% !important;
    left: 35% !important;
    width: 150px !important;
    height: 300px !important;
    // display: none !important;
  }

  .wib1{
    // display: none !important;
    top: 75% !important;
    left: 34% !important;
  }

  .wib2{
    // display: none !important;
    top: 80% !important;
    left: 25% !important;
  }
  
  
  .navf{
    display: none;
    

  }

  .bob{
    // width: 360px !important;
    width: 100vw !important;
    height: 93.8vh !important;
    overflow:scroll !important;
    scroll-behavior: smooth !important;
    overflow-x: hidden !important;
    &::-webkit-scrollbar {
      width: 0px !important; 
      background: transparent !important; /* make scrollbar transparent */
  }
    left: 0% !important;


    .cutew{
      margin-top: 85% !important;
    }

    .loadmore3{
      width: 95vw !important;
      .loadmore4{

      }
    }

    .prob{
      left: 2% !important;
      width: 96vw !important;
      
      .img-prie{
        width: 97vw !important;
      }

      .img-prof{
        top: 14% !important;
        .img-prof-f{
          height: 80px !important;
          width: 80px !important;
        }
      }
      .input-prof{
        left: 40% !important;
        .input-prie{
          font-size: 22px !important;
        }
      }
      .genders{
        display: none;
      }
      .phonenumbers{
        // border: 1px solid red !important;
        width: 150px !important;
        top: 50% !important;
        left: 50% !important;
      }
      .desi{
        display: none;
      }
      .desip{
        display: none;
      }
      .addresses{
        left: 50% !important;
        top: 40% !important;
      }
      .totole{
        left: 10% !important;
        top: 50% !important;
      }
      .age{
        left: 10% !important;
        top: 40% !important;
      }
    }
  }

  .loadmore{
    margin-left: 2% !important;
    width: 360px !important;
    .loadmore1{
      margin-left: 145px !important;
      // text-align: center !important;
    }
  }

  .bisode
  {
    // max-height: 200px !important;
    // min-height: 200px !important;
    margin-top: 40px !important;
    margin-left: 20px !important;
    .okmg{
      left: 40px !important;
      top: 47px !important;
    }
  }
}


@keyframes myanimation {
  0% {background-color: red;}
  25%{background-color:yellow;}
  50%{background-color:green;}
  75%{background-color:brown;}
  100% {background-color: red;}
}

.minhe{
  box-shadow: 0px 0px 15px -5px;
  position: absolute;
  top: 7%;
  left: 5%;
  // border: 1px solid red;
  width: 600px;
  border-radius: 10px 10px;
  word-wrap: break-word;
  min-height: 200px;
  max-height: 700px;
  .avtarminhe{
    border-radius: 50%;
    position: absolute;
    top: 2%;
    left: 6%;
  }
  .minhetext{
    top: 7%;
    position: absolute;
    left: 15%;
  }

  .divminhe{
    // border: 1px solid red;
    width: 470px;
    height: 100px;
    position: absolute;
    top: 40%;
    word-wrap: break-word;
    left: 10%;
     .minhetext1{
    position: absolute;
  }
  }
 
}

.minhe1{
  box-shadow: 0px 0px 15px -5px;
  position: absolute;
  top: 7%;
  left: 45%;
  // border: 1px solid red;
  width: 400px;
  border-radius: 10px 10px;
  word-wrap: break-word;
  height: 700px;
  .minhe11{
    text-align: center;
    font-size: 17px;
    margin-top: 5px;
  }
  .listminhe11{
    overflow: scroll;
    overflow-x: hidden;
    position: absolute;
    border: 1px solid gray;
    width: 350px;
    margin-left: 26.5px;
    height: 600px;
    .stusg{
      color: green;
    }
    .teamsg{
      color: red;
    }
  }
  .minhe121{
    position: absolute;
    top: 93%;
    box-shadow: 0px 0px 15px -5px;
    left: 26.5px;
    border-radius: 10px 10px;
    width: 250px;
    height: 40px;
    // border: 1px solid red;
    .minhe1211{
      margin-top: 8px;
      margin-left: 7px;
      width: 235px;
      outline: none;
      border: none;
    }
  }
  .minhe122{
    position: absolute;
    top: 94%;
    border-width: thin;
    width: 70px;
    left: 75%;
  }
}

.minhe2{
  box-shadow: 0px 0px 15px -5px;
  position: absolute;
  top: 7%;
  left: 73%;
  // border: 1px solid red;
  width: 400px;
  border-radius: 10px 10px;
  word-wrap: break-word;
  height: 700px;
  .minhe21{
    overflow-x: hidden;
    overflow: scroll;
    // border: 1px solid red;
    position: absolute;
    top: 2%;
    left: 1%;
    width: 392px;
    height: 650px;
    .minhe22{
      border: 1px solid gray;
      cursor: pointer;
      width: 350px;
      height: 40px;
      margin-top: 5px;
      margin-left: 20px;
      border-radius: 10px 10px;
      border-width:medium;
      .minhe222{
        text-align: center;
        display: flex;
        justify-content: center;
        font-size: 10px;
        margin-top: 10px;
      }
    }
  }
}

.root2{
  .root3{
  // top: 10%;
  display: none;

}
}

.erp{
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  overflow-wrap: break-word;
  position: absolute;
  top: 16%;
  left: 26%;
  // border: 1px solid red;
  width: 74vw;
  height: 640px;

  .cardi4{
    margin-top: 1%;
    border-radius: 5%;
    box-shadow: 0px 0px 15px -5px;
    position: relative;
    float: left;
    margin-left: 10px;
    // border: 1px solid red;
    .m{
      // border: 1px solid red;
      position: absolute;
      bottom: 0px;
    }
  }
}


.Annoucement{
  position: absolute;
  top: 3.6%;
  left: 69.5%;
  .rop{
    color: red;
  }
}
.conti{
  position: absolute;
  width: 800px;
  height: 600px;
  top:14%;
  left: 33%;

  .Err11{
    position: absolute;
    top: 11%;
    left: 30%;
    color: red;
    font-size: 11px;
  }
  .Err12{
    position: absolute;
    top: 21%;
    left: 30%;
    color: red;
    font-size: 11px;
  }
  .Err13{
    position: absolute;
    top: 31%;
    left: 30%;
    color: red;
    font-size: 11px;
  }
  .ite{
    font-size: 15px;
  }
  .pass1{
    font-size: 15px;
    width: 300px;
    outline: none;
    position: absolute;
    top: 10%;
    left: 30%;
  }
  .pass2{
    font-size: 15px;
    width: 300px;
    outline: none;
    position: absolute;
    top: 20%;
    left: 30%;
  }
  .pass3{
    font-size: 15px;
    width: 300px;
    outline: none;
    position: absolute;
    top: 30%;
    left: 30%;
  }
  .lo1{
    font-size: 15px;
    position: absolute;
    top: 11%;
    left: 9%;
  }
  .lo2{
    font-size: 15px;
    position: absolute;
    top: 21%;
    left: 9%;
  }
  .lo3{
    font-size: 15px;
    position: absolute;
    top: 31%;
    left: 9%;
  }
  .nit{
    border: none;
    background-color: aquamarine;
    position: absolute;
    top: 40%;
    left: 58.5%;
    width: 74px;
    height: 30px;
    border-radius: 6%;
  }
}

.nit1{
  border: none;
  background-color: aquamarine;
  position: absolute;
  top: 20%;
  left: 58.5%;
  width: 74px;
  height: 30px;
  border-radius: 6%;
}

.Err16{
  position: absolute;
  top: 11%;
  left: 30%;
  color: red;
  font-size: 11px;
}

.nav4{
  display:none;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  top: 16%;
  width: 13vw;
  height: 20vh;
  position: absolute;
  left: 13%;
  border: 1px solid gray;
  background-color: #F0F2ED;
  .ul2{
    border: none;      
    width: 12.9vw;
    background-color: #F0F2ED;
          .link{
            font-size: 100%;
            color: black;
            border: none;
            background-color: #F0F2ED;
          }
        }
  
}

.box-gradient{
  width: 770px;
  height: 200px;
  margin-top: 10px;
  // border: 1px solid red;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  overflow-wrap: break-word;
}

.navf{
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  overflow-x: hidden;
  overflow-wrap: break-word;
  position: fixed;
  // box-shadow: -1px 0px 10px 0px;
  // border: 1px solid red;
  top: 6.5%;
  width: 20vw;
  height:81.4vh;
  left: 79.3%;
  .pf{
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 20px;
    // border: 1px solid red;
  }

  .hipe:hover{
    background-color: #F0F2ED;
  }
  .hipe{
    // cursor: pointer;

    width: 19vw;
    margin-top: 10px;
    height: 65px;
    // border: 1px solid red;
    .pic4{
      position: absolute;
    width: 55px;
    height: 55px;
    margin-top: 4px;
    margin-left: 20px;
    border-radius: 50%;
    }
    .Onlline{
      position: absolute;
      // margin-top: 50px;
      margin-top: 50px;
      margin-left: 17%;
      border-radius: 50%;
      width: 15px;
      height: 15px;
    }
    .Offline{
      position: absolute;
      margin-top: 50px;
      margin-left: 17%;
      border-radius: 50%;
      width: 15px;
      height: 15px;
    }
  
    .pichan{
      // position: absolute;
      color: black;
      // // margin-left: 20px;
      // border: none;
      // height: 70px;
      width: 20vw;
      top: 30%;
      // // width: 200px;
      // border: 1px solid red;
      // // margin-top: px;
     
      .chanx{
        position: absolute;
        
        margin-top: 20px;
        width: 300px;
      
        margin-left: 100px;
    
      }
     
    }
  }
 
  
}

.suggest{
  position: absolute;
  top: 8%;
  left: 26%;
}
.random{
  box-shadow: 0px 0px 10px 0px;

  overflow: auto;
  -webkit-overflow-scrolling: touch; /* Lets it scroll lazy */

  // overflow-x: scroll;
  overflow-y: scroll;
  // overflow-wrap: break-word;
  position: absolute;
  // border: 1px solid red;

  top: 2%;
  left: 11%;
  width: 640px;
  height: 260px;
  border-radius: 10px 10px;
  .cardi1{
    cursor: pointer;
    position: relative;
    float: left;
    margin-left: 10px;

   
    .btn-act{
      position: absolute;
      bottom: 0px;
    
    }
  }
  
}

.chickens{
  position: absolute;
  top: 45%;
  left: 66%;
  .btn-chickens:hover{
    background-color: aqua;
  }
  .btn-chickens{
    border: none;
    box-shadow: 0px 0px 15px -5px;
  }
}
.chicken{
  position: absolute;
  top: 45%;
  left: 73.1%;
  .vop{
    position: absolute;
    top: 65%;
    left: 70%;
    .img-vio{
      cursor: pointer;
    border-radius: 50%;
    width: 15px;
    height: 15px;
  }
  }
  
  .btn-chicken:hover{
    background-color: aqua;
  }
  .btn-chicken{
    border: none;
    box-shadow: 0px 0px 15px -5px;
  }
}

.add{
  // border: 1px solid red;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  overflow-wrap: break-word;
  position: absolute;
  width: 74vw;
  height: 640px;
  top: 16%;
  left: 26%;

  .cardi{
    margin-top: 1%;
      box-shadow: 0px 0px 15px -5px;
      border-radius: 5%;

    float: left;
    margin-left: 10px;
    position: relative;
    .btn-act{
      position: absolute;
      bottom: 0px;

    }
  }
  .pic3{
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
}


.tow{
  width: 30px;
  height: 30px;
}


.search{
  position: absolute;
  border: 1px solid gray;

  width: 350px;
  height: 40px;
  top:9.5%;
  left: 26%;
  // box-shadow: 0px 0px 15px -5px;
  border-radius: 10px 10px;
  // border: 1px solid rgb(193, 193, 240);
  // background-color: rgb(193, 193, 240);

  .btn-ser{
    position: absolute;
    left: 104%;
    top: 10%;
    .btns-ser:hover{
      background-color: aqua;
    }
    .btns-ser{
      width: 60px;
      height: 30px;
      border-radius: 50px 50px;
      border: none;
      
    }
  }

  .sep{
    height: 40px;
    margin-top: -1px;
    margin-left: -1px;
    width: 52px;
    border-right: 1px solid black;
    .ser{
      margin-top: 10px;
      margin-left: 16px;
    width: 20px;
    height: 20px;
  }
}
  
  .search-in{
    // background-color: rgb(193, 193, 240);
    border: none;
    outline: none;
    color: black;
    position: absolute;
    top: 7px;
    font-size: 15px;
    left: 70px;
    width: 270px;
  }
}

.bird{
  width: 20px;
  height: 20px;
}

.bob{
  position: absolute;
  width: 68vw;
  height: 81vh;
  top: 6%;
  left: 32%;
  // border: 1px solid red;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  overflow-wrap: break-word;
  .loadmore3{
    margin-top: 10px;
    margin-left: 10px;
    width: 700px;
    // border:1px solid red;
    height: 23px;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 10px 10px;
    box-shadow: 0px 0px 15px -5px;

    .loadmore4{
      text-align: center;
    }
  }
  .cardio{
    margin-left: 1%;
    margin-top: 2%;
    box-shadow: 0px 0px 15px -5px;
    border-radius: 10px 10px;
    
     .oppc{
      width: 665px;
      height: 400px;
    }
  }
  .cutew{
    margin-top: 30%;
  }
  .prob{
    position: absolute;
    left: 1%;
    width: 700px;
    height: 300px;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    box-shadow: 0px 0px 15px -5px;
    .totole{
      position: absolute;
      top: 80%;
      left: 10%;
      .fas-genders{
        font-family: Arial, Helvetica, sans-serif;
      }
    }
    .phonenumbers{
      position: absolute;
      top: 72%;
      left: 10%;
      .fas-genders{
        font-family: Arial, Helvetica, sans-serif;
      }
    }
    .addresses{
      position: absolute;
      top: 64%;
      left: 10%;
      .fas-genders{
        font-family: Arial, Helvetica, sans-serif;
      }
    }
    .genders{
      position: absolute;
      top: 56%;
      left: 10%;
      .fas-genders{
        font-family: Arial, Helvetica, sans-serif;
      }
    }

    .desi{
      position: absolute;
      top: 48%;
      left: 50%;
    }
    .desip{
      position: absolute;
      top: 60%;
      height: 100px;
      width: 300px;
      word-wrap: break-word;
      // border: 1px solid red;
      left: 50%;
    }

    .age{
      position: absolute;
      top: 48%;
      left: 10%;
      .fas{
        // font-family: Arial, Helvetica, sans-serif;
      }
    }
    .img-prie{
      position: absolute;
      width: 700px;
      height: 90px;
      animation: myanimation 10s infinite;
    }
    
    .input-prof{
      position: absolute;
      top: 30%;
      left: 30%;
    }
    .img-prof{
      position: absolute;
      top: 9%;
      left: 10%;
      .img-prof-f{
        border: 1px solid black;
        border-radius: 50%;
        width: 120px;
        height: 120px;
      }
    }
  }
}


.group{
  // overflow: -moz-scrollbars-vertical;
  // overflow-y: scroll;
  // overflow-wrap: break-word;
  position: absolute;
  top: 6.4%;
  left: 0.1%;
  width: 25vw;
  height: 81.4vh;
  // border: 1px solid red;

  
  .headgroup{
    width: 425px;
    height: 70px;
    border-radius: 10px 10px;
    box-shadow: 0px 0px 15px -5px;
    .avatargr{
      top: 10px;
      position: absolute;
      left: 30px;
      .avatargr-1{
        width: 50px;
        border-radius: 50%;
        // border: 1px solid red;
        height: 50px;
      }
      
    }

    .createo{
      width: 25px;
      height: 25px;
      border-radius: 50%;
      margin-left: 380px;
      margin-top: 10px;
      cursor: pointer;
    }
    .btn-create{
      top: 10px;
      position: absolute;
      left: 380px;
      .create{
        cursor: pointer;
        width: 25px;
        border-radius: 50%;
        // border: 1px solid red;
        height: 25px;
      }
    }
  }
  

  .listmem{
    // overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  // overflow-wrap: break-word;
    border: 1px solid gray;
    width: 425px;
    height: 655px;
    .groupoo{
      border: 1px solid gray;
      height: 70px;
      margin-top: 10px;
      border: none;
      cursor: pointer;
      .avtargr{
        border-radius: 50%;
        position: absolute;
        margin-top: 6px;
        margin-left: 10px;
      }
      .p-goup{
        font-size: 20px;
        margin-top: 5.6%;
        margin-left: 80px;
        position: absolute;
        text-transform: uppercase;
      }
    }

    .groupoo:hover{
      background-color: #F0F2ED;
    }
  }
  
}
.listfriend{
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  overflow-x:hidden;
  overflow-wrap: break-word;
  position: absolute;
  top: 6.4%;
  width: 20vw;
  height: 81.4vh;
  // border: 1px solid red;
  left: 79.9%;

  .pf{
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 20px;
    // border: 1px solid red;
  }

  .hipe:hover{
    background-color: #F0F2ED;
  }
  .hipe{
    width: 18vw;
    margin-top: 10px;
    height: 65px;
    // border: 1px solid red;
    cursor: pointer;

    .pic4{
      position: absolute;
    width: 55px;
    height: 55px;
    margin-top: 4px;
    margin-left: 20px;
    border-radius: 50%;
    }
    .Onlline{
      position: absolute;
      // margin-top: 50px;
      margin-top: 50px;
      margin-left: 17%;
      border-radius: 50%;
      width: 15px;
      height: 15px;
    }
    .Offline{
      position: absolute;
      margin-top: 50px;
      margin-left: 17%;
      border-radius: 50%;
      width: 15px;
      height: 15px;
    }
  
    .pichan{
      // position: absolute;
      // // margin-left: 20px;
      // border: none;
      // height: 70px;
      width: 20vw;
      top: 30%;
      color: black;
      // // width: 200px;
      // border: 1px solid red;
      // // margin-top: px;
     
      .chanx{
        // // border: 1px solid red;
        position: absolute;
        // // border: 1px solid red;
        // font-size: 20px;
        margin-top: 20px;
        width: 300px;
        // font-family: cursive;
        margin-left: 100px;
        // position: absolute;
      }
     
    }
  }
 
}

.headerchat{
  position: absolute;
  top: 6.4%;
  width: 50vw;
  height: 8vh;
  // border: 1px solid red;
  border-bottom: 1px solid gray;
  left: 25%;

  .meni{
    cursor: pointer;
    top: 15%;
    margin-left: 800px;
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
  }
  .nameavto{
    position: absolute;
    top: 15%;
    left: 4%;
    border-radius: 50%;
  }
  .name{
    position: absolute;
    top: 30%;
    left: 10%;
    font-size: 20px;
    text-transform: uppercase;
  }
  .addmember{
    border: none;
    height: 30px;
    border-radius: 10px 10px;
    position: absolute;
    // top: 8%;
    left: 80%;
  }
  .addmember:hover{
    background-color: aquamarine;
  }
  .activ{
    border: 50%;
    position: absolute;
    left: 90%;
    .activatings{
    cursor: pointer;
    width: 50px;
    height: 30px;
  }
  }
  
}



.handlechat{
  position: absolute;
  top: 70%;
  left: 100%;
  border: 1px solid red;
  width: 850px;
  height: 70px;
}
.chiopl{
  // border: 1px solid red;
  // border-top: 1px solid gray;
  position: absolute;
  top: 83%;
  // width: 47vw;
  height: 4.6vh;
  left:35%;


  .lqp{
    position: absolute;
    margin-left: 150px;
    margin-top: 5px;
    cursor: pointer;
    .lqp1{
      width: 30px;
      height: 30px;
    }
  }
  .chat-con{
    // margin-top: 2px;
    margin-left: 0px;
    // border: 1px solid red;
    width: 620px;
    background-color: #F2F3F4;
    height: 38px;
    border-radius: 50px 50px;
     .input-chat{
       border: none;
       background-color: #F2F3F4;
    position: absolute;
    margin-top: 0px;
    font-size: 13px;
    outline: none;
    margin-top: 3px;
    margin-left: 9px;
    width: 600px;
    height: 30px;
  }
  }
 

}

.chati{

  position: absolute;
  
  width: 850.5px;
  height: 580px;
  top: 14.5%;
  left: 25%;
 
}
.listemoju{
  position: absolute;

  top: 70%;
  left: 25%;
  width: 150px;
  height: 100px;
  // border: 1px solid red;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  overflow-wrap: break-word;
  .omiy{
    width: 20px;
    height: 20px;
    cursor: pointer;
    float: left;
  }
  .omiy:hover{
    background-color: aqua;
  }
}
.uey
{
  // border: 1px solid red;
  position: absolute;
  width: 20px;
  height: 20px;

  top: 84%;
  cursor: pointer;
  left: 27%;
  .ompx{
    width: 20px;
    height: 20px;
  }
}


.uey1
{
  // border: 1px solid red;
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;

  top: 84%;
  left: 29%;
  .ompx1{
    width: 20px;
    height: 20px;
  }
}




.cati{
  margin-top: 9%;
  // border: 1px solid red;
  // height: 10px;

  .poci{
    // border: 1px solid red;
    // height: 75px;
    .poirc{
      margin-right: 10px;
     
      margin-top: 10px;
      float: right;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  
  .poird{
    margin-left: 10px;
    // border: 1px solid red;
      margin-top: 10px;
    float: left;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  }
  }


  .abcd{
    // border: 1px solid red;
    height: 20px;
    .c{
      margin-right: 10px;
      margin-top: 0px;
        float: right;
        height: 20px;
        margin-bottom: 0px;
    }
  
    .d{
      margin-left: 10px;
      margin-top: 0px;
        float: left;
        height: 20px;
        margin-bottom: 0px;

    }
  }

  .timezone{
    // border: 1px solid red;
    height: 30px;
    // margin-top: 65px;
    .k{
      margin-right: 10px;
      margin-top: 0px;
        float: right;
        height: 20px;
        margin-bottom: 0px;
    }
    .g{
      margin-left: 10px;
      margin-top: 0px;
        float: left;
        height: 20px;
        margin-bottom: 0px;
    }
  }

  .iconseri{
    // border: 1px solid red;
    height: 34px;
    .likeyo{
      float: right;
      border-radius: 50%;
      margin-top: 1.5px;
      // border: 1px solid red;
      height: 30px;
      width: 30px;
      // margin-left: 40px;
    }
    .likei{
      float: right;
      border-radius: 50%;
      margin-top: 1.5px;
      // border: 1px solid red;
      height: 30px;
      width: 30px;
      margin-left: 30px;
    }

    .likeii{
      float: right;
      margin-top: 10px;
      margin-right: 10px;
    }

    .likeik{
      float: right;
      margin-top: 10px;
      margin-right: 10px;
    }

    .likeiki{
      float: right;
      margin-top: 10px;
      margin-right: 690px;
    }

    .likey{
      float: right;
      border-radius: 50%;
      margin-top: 1.5px;
      // border: 1px solid red;
      height: 30px;
      width: 30px;
      margin-left: 30px;
    }
  }

  .mys{
    // border: 1px solid red;
    height: 50px;
    .ojs{
      width: 100px;
      height: 100px;
    }
    .r{
      margin-right: 10px;
      margin-top: 0px;
        float: right;
        height: 20px;
        width: 550px;
        margin-bottom: 0px;
        font-size: 20px;
    // font-size: 1vw;
    text-align: right;
    word-wrap: break-word;
    }
    .t{
      margin-left: 10px;
      margin-top: 0px;
        float: left;
        height: 20px;
        width: 550px;
        margin-bottom: 0px;
        word-wrap: break-word;
    }
  }
  

  
}



.wib{
  position: absolute;
  top: 15%;
  left: 47%;
  width: 250px;
  height: 400px;
  border-radius: 0.5%;
}
.wib2{
  position: absolute;
  top: 68%;
  left: 48.3%;
}

.wib1{
  position: absolute;
  top: 63%;
  left: 50%;
}



.send-post{
  // border: 1px solid red;
  height: 130px;
  .arepost{
    margin-top: 15px;
    border: none;
    width: 468px;
    height: 120px;
    outline: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    // border: 1px solid red
  }
}
.filetap{
  width: 30px;
  height: 30px;
  cursor: pointer;

}
.filetap:hover{
  background-color: aqua;
}


.okmg{
  position: absolute;
  margin-left: 12% ;
  margin-top: -9.5%;
}
.rungroi{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.srsearch{
  position: absolute;
  top: 17%;
  left: 50%;
}


.cmts{
  // border: 1px solid red;
  height: 400px;
  .btn-comment:hover{
    background-color: aqua;
  }
  .btn-comment{
    border: none;
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .formo{
    // border: 1px solid red;
 
    height: 100px;
    .formo1{
      // border: 1px solid red;
      border: none;
      outline: none;
      width: 460px;
      height: 200px;
    }
  }
  .avtarcom{
    // width: 70px;
    // margin-left: 10px;
    height: 50px;
    // border: 1px solid red;
    .avtarcom1{
      width: 50px;
      height: 50px;
    }
  }

  .avtarcom2{
    margin-left: 10px;
  }
}
.jpg-container{
  .jpg{
    display: block;
  margin-left: auto;
  margin-right: auto;
    width: 100px;
    height: 100px;
  }
}



.pdf{
  // text-align: center;
  width: 60px;
  height: 60px;
}

.congtino{

  height: 330px;
  // border: 1px solid red;
  .drag{
    width: 300px;
    height: 120px;
  }

  .file{
    margin-top: 10px;
    // border: 1px solid red;
    height: 120px;
  }
}
.dropx{

  // border: 1px solid red;
  margin-top: 10px;
  // display: none;
  .dropzone{
  border: 1px dashed gray;
  margin-top: 15px;
  text-align: center;
  // background-origin: padding-box;
  // border-radius: 20px 20px;
  border-width: medium;
}

.file{
  // border: 1px solid red;
    .filep{
      margin-top: 20px;

      // border: 1px solid red;
    }
  }
}

.pcontainer{
  .pcontainer1{
    text-align: center;
  }
}



.profiig{
  border: 1px solid red;
  position: absolute;
  width: 300px;
  height: 300px;
  margin-top: 21%;
  margin-left: 29%;
  width: 700px;
  height: 420px;
}
.Upcomment{
  position: absolute;
  // border: 1px solid red;
  width: 150px;
  height: 60px;
  margin-top: 5%;
  margin-left: 70%;
  box-shadow: 0px 0px 15px -5px;
  border-radius: 10px 10px;
  .io{
    position: absolute;
    margin-left: 70px;
    margin-top: 28px;
    font-weight: bold;
    font-style: italic;
  }
  .increase{
    position: absolute;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 50%;

  }
  .userup{
    position: absolute;
    margin-top: 0px;
    margin-left: 70px;
  }
}


.Uppost{
  position: absolute;
  // border: 1px solid red;
  width: 150px;
  height: 60px;
  margin-top: 10%;
  margin-left: 70%;
  box-shadow: 0px 0px 15px -5px;
  border-radius: 10px 10px;
  .io{
    position: absolute;
    margin-left: 70px;
    margin-top: 28px;
    font-weight: bold;
    font-style: italic;
  }
  .increase{
    position: absolute;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 50%;

  }
  .userup{
    position: absolute;
    margin-top: 0px;
    margin-left: 70px;
  }
}


.Upcomments{
  position: absolute;
  // border: 1px solid red;
  width: 150px;
  height: 60px;
  margin-top: 15%;
  margin-left: 70%;
  box-shadow: 0px 0px 15px -5px;
  border-radius: 10px 10px;
  .io{
    position: absolute;
    margin-left: 70px;
    margin-top: 28px;
    font-weight: bold;
    font-style: italic;
  }
  .increase{
    position: absolute;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 50%;

  }
  .userup{
    position: absolute;
    margin-top: 0px;
    margin-left: 70px;
  }
}


.role{
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  overflow-wrap: break-word;
  position: absolute;
  // border: 1px solid red;
  top: 10%;
  left: 30%;
  width: 1193px;
  height: 690px;
}


.gropc{
  position: absolute;
  top: 10%;
  left: 5%;
  // border: 1px solid red;
  width: 350px;
  height: 200px;
  border-radius: 20px 20px;
  box-shadow: 0px 0px 15px -5px;
  .topg{
    text-align: center;
    font-size: 20px;
  }
  .topg1{
    position: absolute;
    margin-left: 90px;
    height: 30px;
    width: 250px;
    border: none;
    outline: none;
  }
  .topj1{
    position: absolute;
    margin-top: 44px;
    margin-left: 20px;
  }
  .topg2{
    position: absolute;
    margin-left: 90px;
    height: 30px;
    width: 250px;
    border: none;
    outline: none;
    margin-top: 40px;
    // border: 1px solid red;
  }
  .topj{
    position: absolute;
    margin-top: 4px;
    margin-left: 20px;
  }

  .btnr{
    position: absolute;
    margin-top:90px;
    margin-left: 200px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 10px 10px;
  }
}
.learninglist{
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  overflow-wrap: break-word;
  // border: 1px solid red;
  width: 1023px;
  height: 690px;
  position: absolute;
  top: 10%;
  left: 40%;
}


.searchRole{
  box-shadow: 0px 0px 15px -5px;

  position: absolute;
  // border: 1px solid red;
  border-radius: 10px 10px;
  width: 335px;
  height: 100px;
  top: 45%;
  left: 1%;
  .searchp{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    // border: 1px solid red;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .searchpp{
    // border: 1px solid red;
    position: absolute;
    margin-top: -15px;
    margin-left: 15px;
    width: 305px;
    height: 30px;
    font-size: 18px;
    outline: none;
    border: none;
  }
}


.chart{
  position: absolute;
  margin-top: 5%;
  margin-left: 30%;
  width: 600px;
  height: 400px;
}



.Addstudent{
  // border: 1px solid red;
  border: none;
  
  border-radius: 10px 10px;
  width: 150px;
  height: 30px;
  position: absolute;
  top: 7%;
  left: 5%;
}

.Addstudent:hover{
  background-color: aqua;
}

.inputstudent{
  box-shadow: 0px 0px 15px -5px;
  width: 300px;
  height: 100px;
  // border: 1px solid red;
  border-radius: 10px 10px;
  position: absolute;
  top: 10%;
  left: 5%;

  .iueg{
    margin-top: 35px;
    font-size: 30px;
    text-align: center;
  }
}
.oeoe{
  box-shadow: 0px 0px 15px -5px;
  position: absolute;
  // border: 1px solid red;
  border-radius: 10px 10px;
  width: 300px;
  top: 23%;
  left: 5%;
  height: 50px;
  .eoeo{
    margin-top: 13px;
    text-align: center;
    // color: red;
  }
}

.inr{
  position: absolute;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  overflow-wrap: break-word;
  // border: 1px solid red;
  width: 1193.5px;
  height: 690px;
  top: 10%;
  left: 30%;
  
  .submidform{
    // border: 1px solid red;
    height: 100px;
    width: 670px;

    .droe{
      width: 350px;
      // border: 1px solid red;
      margin-top: 60px;
      height: 300px;
      margin-left: 35px;
      .drag{
        // width: 650px;
        text-align: center;

      }
    }
    .teu{
      margin-top: 5px;
      height: 50px;
      width: 650px;
      outline: none;
      margin-left: 5px;
      position: absolute;
      // border: none;
    }
  }
}

.upe{
  height: 30px;
  width: 100px;
  position: absolute;
  margin-top: 60px;
  margin-left: 270px;
  border: none;
  
}

.upe:hover{
  background-color: aqua;
}

.cardiok{
  margin-top: 10px;
  margin-left: 15px;
}


.ste{
  // border: 1px solid red;
  position: absolute;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 30%;
  left: 5%;
  width: 300px;
  height: 510px;
  box-shadow: 0px 0px 15px -5px;
  .btn-kick{
    float: right;
    margin-top: 16px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .opre{
    text-align: center;
    font-size: 18px;
  }
  .imgocto{
    margin-top: 10px;
    margin-left: 60px;
    border-radius: 50%;
    margin-right: 20px;
    width: 50px;
    height: 50px;
  }
}


.xcx{
  position: absolute;
  // border: 1px solid red;
  border-radius: 10px 10px;
  box-shadow: 0px 0px 15px -5px;

  width: 200px;
  height: 150px;
  top: 35%;
  left: 5%;
  width: 350px; 
  .xsx1{
    margin-top: 5px;
    text-align: center;
    font-size: 20px;
    // border: 1px solid red;
  }
  .xsx2{
    font-size: 16px;
    // border: 1px solid red;
    margin-top: 0px;
    margin-left: 20px;
    width: 310px;
    border: none;
    outline: none;
  }
  .xsx3{
    margin-top: 15px;
    margin-left: 250px;
    border: none;
    height: 30px;

  }
  .xsx3:hover{
    background-color: aqua;
  }
}

.noname{
    width: 265px;
    height: 120px;
    border: none;
    outline: none;
}


.ud{
  position: absolute;
  height: 30px;
  top: 6.5%;
  left: 70%;
  border: none;

}

.ud:hover{
  background-color: aqua;
}



.dropx1{

  // border: 1px solid red;
  margin-top: 10px;
  // display: none;
  .dropzone1{
  border: 1px dashed gray;
  margin-top: 15px;
  text-align: center;
  // background-origin: padding-box;
  // border-radius: 20px 20px;
  border-width: medium;
  }
}


.material{
  position: absolute;
  // border: 1px solid gray;
  border: none;
  border-radius: 10px 10px;
  // width: 500px;
  width: 320px;
  height: 680px;
  box-shadow: 0px 0px 15px -5px;
  top: 11%;
  left: 76%;
  .material1{
    float: left;
    // border: 1px solid red;
    width: 150px;
    margin-top: 5px;
    margin-left: 5px;
    height: 150px;
      .pdfname{
        margin-top: 15px;
        // border: 1px solid red;
        margin-left: 40px;
        width: 70px;
        height: 70px;
      }
    .filenames{
      font-size: 8px;
      // border: 1px solid red;
      overflow-wrap: break-word;  
      text-align: center;
      
    }
    .tbndown1{
      // text-align: center;
      margin-top: -8px;
      // cursor: pointer;
      margin-left: 42px;
    }

    .tbndown{
      // text-align: center;
      margin-top: 5px;
      // cursor: pointer;
      margin-left: 30px;
    }
  }
}

.scorcipe{
  // border: 1px solid red;
  width: 200px;
  height: 100px;
  position: absolute;
  top: 10%;
  left: 10%;
  box-shadow: 0px 0px 15px -5px;
  border-radius: 10px 10px;
  .scorcipe1{
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
  }
  .scorcipe2{
    text-align: center;
    font-size: 25px;
    margin-top: 17px;
    font-style: italic;
  }
}

.ioewq{
  position: absolute;
  overflow: -moz-scrollbars-vertical;
  box-shadow: 0px 0px 15px -5px;
  overflow-wrap: break-word;
  overflow-y: scroll;
  border: none;
  border-radius: 10px 10px;
  // width: 200px;
  height: 560px;
  top: 25%;
  left: 6%;
  width: 330px;
  .ioewq1{
    text-align: center;
    margin-top: 10px;
  }

  .material1{
    float: left;
    // border: 1px solid red;
    
    width: 150px;
    margin-top: 5px;
    margin-left: 5px;
    height: 150px;
    .pospd{
      // margin-left: 58px;
      text-align: center;
      font-size: 15px;
    }
      .pdfname{
        margin-top: 15px;
        // border: 1px solid red;
        margin-left: 40px;
        width: 70px;
        height: 70px;
      }
    .filenames{
      font-size: 8px;
      // border: 1px solid red;
      overflow-wrap: break-word;  
      text-align: center;
      
    }
    .tbndown1{
      // text-align: center;
      margin-top: -8px;
      // cursor: pointer;
      margin-left: 44px;
    }

    .tbndown{
      // text-align: center;
      margin-top: 5px;
      // cursor: pointer;
      margin-left: 30px;
    }
  }
}

.eravc{
  color: red;
}

.allsu{

  position: absolute;
  top: 7%;
  left: 82.7%;
  font-size: 18px;
}

.obds{
  top: 6.5%;
  height: 30px;
  border: none;
  position: absolute;
  left: 76%;
}

.obds:hover{
  background-color: aqua;
}

.boead{
  // border: 1px solid red;
  overflow-wrap: break-word;
  width: 1670px;
  position: absolute;
  top: 12%;
  left: 2%;
  height:  670px;

  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

.secs{
    position: absolute;
    top: 7%;
    left: 50%;
}

.eteq{
  position: absolute;
  // height: 17%;
  top: 7%;
  left: 50%;
  // border: 1px solid red;
  // height: 100px;
  width: 200px;
}

.erew{
  position: absolute;
  top: 7%;
  left: 65%;
  height: 38px;
  border: none;
}
.erew:hover{
  background-color: aqua;
}

.ghf{
  width: 100px;
  height: 100px;

}

.erue{
  margin-top: 10px;
  text-align: center;
  color: red;
  font-style: italic;
  font-size: 13px;
}

.loadmore{
  box-shadow: 0px 0px 15px -5px;
  // border: 1px solid red;
  width: 642px;
  margin-top: 15px;
  margin-left: 140px;
  cursor: pointer;
  height: 30px;
  border-radius: 10px 10px;
  margin-bottom: 10px;

  .loadmore1{
    // margin-top: 15px;
    text-align: center;
    // margin-top: 10px;
    position: absolute;
    margin-top: 5px;
    margin-left: 285px;
  }

}

.permission{
  position: absolute;
  top: 15%;
  left: 30%;
}

.permission1{
  width: 500px;
  top: 19%;
  height: 300px;
  left: 36%;
  position: absolute;
}

.permission2{
  position: absolute;
  top: 55%;
  left: 47%;
  height: 40px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px 10px;
}

.hole{
  position: absolute;
  top: 50%;
}

.carpsel{
  position: absolute;
  width: 900px;
  height: 500px;
  .carpsel1{
    width: 900px;
    height: 500px;
  }
}

.cape{
  width: 600px;
  height: 500px;
}

.input-created2{
  font-size: 20px;
}



.input-create{
  // font-size: 20px;
  .inputgr{
    border: none;
    width: 270px;
    outline: none;
  }
}

.errfocu{
  margin-top: 15px;
  font-size: 12px;
  margin-left: 10px;
  color: red;
  font-style: italic;
  font-weight: bold;
}
