
@keyframes myanimation {
  0% {background-color: red;}
  25%{background-color:yellow;}
  50%{background-color:green;}
  75%{background-color:brown;}
  100% {background-color: red;}
}
.erp{
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  overflow-wrap: break-word;
  position: absolute;
  top: 16%;
  left: 26%;
  // border: 1px solid red;
  width: 74vw;
  height: 640px;

  .cardi4{
    margin-top: 1%;
    border-radius: 5%;
    box-shadow: 0px 0px 15px -5px;
    position: relative;
    float: left;
    margin-left: 10px;
    // border: 1px solid red;
    .m{
      // border: 1px solid red;
      position: absolute;
      bottom: 0px;
    }
  }
}


.Annoucement{
  position: absolute;
  top: 3.6%;
  left: 69.5%;
  .rop{
    color: red;
  }
}
.conti{
  position: absolute;
  width: 800px;
  height: 600px;
  top:14%;
  left: 33%;

  .Err11{
    position: absolute;
    top: 11%;
    left: 30%;
    color: red;
    font-size: 11px;
  }
  .Err12{
    position: absolute;
    top: 21%;
    left: 30%;
    color: red;
    font-size: 11px;
  }
  .Err13{
    position: absolute;
    top: 31%;
    left: 30%;
    color: red;
    font-size: 11px;
  }
  .ite{
    font-size: 15px;
  }
  .pass1{
    font-size: 15px;
    width: 300px;
    outline: none;
    position: absolute;
    top: 10%;
    left: 30%;
  }
  .pass2{
    font-size: 15px;
    width: 300px;
    outline: none;
    position: absolute;
    top: 20%;
    left: 30%;
  }
  .pass3{
    font-size: 15px;
    width: 300px;
    outline: none;
    position: absolute;
    top: 30%;
    left: 30%;
  }
  .lo1{
    font-size: 15px;
    position: absolute;
    top: 11%;
    left: 9%;
  }
  .lo2{
    font-size: 15px;
    position: absolute;
    top: 21%;
    left: 9%;
  }
  .lo3{
    font-size: 15px;
    position: absolute;
    top: 31%;
    left: 9%;
  }
  .nit{
    border: none;
    background-color: aquamarine;
    position: absolute;
    top: 40%;
    left: 58.5%;
    width: 74px;
    height: 30px;
    border-radius: 6%;
  }
}

.nit1{
  border: none;
  background-color: aquamarine;
  position: absolute;
  top: 20%;
  left: 58.5%;
  width: 74px;
  height: 30px;
  border-radius: 6%;
}

.Err16{
  position: absolute;
  top: 11%;
  left: 30%;
  color: red;
  font-size: 11px;
}

.nav4{
  display:none;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  top: 16%;
  width: 13vw;
  height: 20vh;
  position: absolute;
  left: 13%;
  border: 1px solid gray;
  background-color: #F0F2ED;
  .ul2{
    border: none;      
    width: 12.9vw;
    background-color: #F0F2ED;
          .link{
            font-size: 100%;
            color: black;
            border: none;
            background-color: #F0F2ED;
          }
        }
  
}

.box-gradient{
  width: 770px;
  height: 200px;
  margin-top: 10px;
  // border: 1px solid red;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  overflow-wrap: break-word;
}

.navf{
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  overflow-x: hidden;
  overflow-wrap: break-word;
  position: fixed;
  // box-shadow: -1px 0px 10px 0px;
  // border: 1px solid red;
  top: 6.5%;
  width: 20vw;
  height:81.4vh;
  left: 79.3%;
  .pf{
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 20px;
    // border: 1px solid red;
  }

  .hipe:hover{
    background-color: #F0F2ED;
  }
  .hipe{
    width: 19vw;
    margin-top: 10px;
    height: 65px;
    // border: 1px solid red;
    .pic4{
      position: absolute;
    width: 55px;
    height: 55px;
    margin-top: 4px;
    margin-left: 20px;
    border-radius: 50%;
    }
    .Onlline{
      position: absolute;
      // margin-top: 50px;
      margin-top: 50px;
      margin-left: 17%;
      border-radius: 50%;
      width: 15px;
      height: 15px;
    }
    .Offline{
      position: absolute;
      margin-top: 50px;
      margin-left: 17%;
      border-radius: 50%;
      width: 15px;
      height: 15px;
    }
  
    .pichan{
      // position: absolute;
      // // margin-left: 20px;
      // border: none;
      // height: 70px;
      width: 20vw;
      top: 30%;
      // // width: 200px;
      // border: 1px solid red;
      // // margin-top: px;
     
      .chanx{
        // // border: 1px solid red;
        position: absolute;
        // // border: 1px solid red;
        // font-size: 20px;
        margin-top: 20px;
        width: 300px;
        // font-family: cursive;
        margin-left: 100px;
        // position: absolute;
      }
     
    }
  }
 
  
}

.suggest{
  position: absolute;
  top: 8%;
  left: 26%;
}
.random{
  box-shadow: 0px 0px 10px 0px;

  overflow: auto;
  -webkit-overflow-scrolling: touch; /* Lets it scroll lazy */

  // overflow-x: scroll;
  overflow-y: scroll;
  // overflow-wrap: break-word;
  position: absolute;
  // border: 1px solid red;

  top: 2%;
  left: 11%;
  width: 640px;
  height: 260px;
  border-radius: 10px 10px;
  .cardi1{
    cursor: pointer;
    position: relative;
    float: left;
    margin-left: 10px;

   
    .btn-act{
      position: absolute;
      bottom: 0px;
    
    }
  }
  
}

.chickens{
  position: absolute;
  top: 45%;
  left: 66%;
  .btn-chickens:hover{
    background-color: aqua;
  }
  .btn-chickens{
    border: none;
    box-shadow: 0px 0px 15px -5px;
  }
}
.chicken{
  position: absolute;
  top: 45%;
  left: 73.1%;
  .vop{
    position: absolute;
    top: 65%;
    left: 70%;
    .img-vio{
      cursor: pointer;
    border-radius: 50%;
    width: 15px;
    height: 15px;
  }
  }
  
  .btn-chicken:hover{
    background-color: aqua;
  }
  .btn-chicken{
    border: none;
    box-shadow: 0px 0px 15px -5px;
  }
}

.add{
  // border: 1px solid red;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  overflow-wrap: break-word;
  position: absolute;
  width: 74vw;
  height: 640px;
  top: 16%;
  left: 26%;

  .cardi{
    margin-top: 1%;
      box-shadow: 0px 0px 15px -5px;
      border-radius: 5%;

    float: left;
    margin-left: 10px;
    position: relative;
    .btn-act{
      position: absolute;
      bottom: 0px;

    }
  }
  .pic3{
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
}


.tow{
  width: 30px;
  height: 30px;
}


.search{
  position: absolute;
  border: 1px solid gray;

  width: 350px;
  height: 40px;
  top:9.5%;
  left: 26%;
  // box-shadow: 0px 0px 15px -5px;
  border-radius: 10px 10px;
  // border: 1px solid rgb(193, 193, 240);
  // background-color: rgb(193, 193, 240);

  .btn-ser{
    position: absolute;
    left: 104%;
    top: 10%;
    .btns-ser:hover{
      background-color: aqua;
    }
    .btns-ser{
      width: 60px;
      height: 30px;
      border-radius: 50px 50px;
      border: none;
      
    }
  }

  .sep{
    height: 40px;
    margin-top: -1px;
    margin-left: -1px;
    width: 52px;
    border-right: 1px solid black;
    .ser{
      margin-top: 10px;
      margin-left: 16px;
    width: 20px;
    height: 20px;
  }
}
  
  .search-in{
    // background-color: rgb(193, 193, 240);
    border: none;
    outline: none;
    color: black;
    position: absolute;
    top: 7px;
    font-size: 15px;
    left: 70px;
    width: 270px;
  }
}


.bob{
  position: absolute;
  width: 50vw;
  height: 36vh;
  top: 6%;
  left: 24%;
  // border: 1px solid red;

  .prob{
    position: absolute;
    left: 10%;
    width: 700px;
    height: 300px;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    box-shadow: 0px 0px 15px -5px;
    .totole{
      position: absolute;
      top: 80%;
      left: 10%;
      .fas-genders{
        font-family: Arial, Helvetica, sans-serif;
      }
    }
    .phonenumbers{
      position: absolute;
      top: 72%;
      left: 10%;
      .fas-genders{
        font-family: Arial, Helvetica, sans-serif;
      }
    }
    .addresses{
      position: absolute;
      top: 64%;
      left: 10%;
      .fas-genders{
        font-family: Arial, Helvetica, sans-serif;
      }
    }
    .genders{
      position: absolute;
      top: 56%;
      left: 10%;
      .fas-genders{
        font-family: Arial, Helvetica, sans-serif;
      }
    }

    .desi{
      position: absolute;
      top: 48%;
      left: 50%;
    }
    .desip{
      position: absolute;
      top: 60%;
      height: 100px;
      width: 300px;
      word-wrap: break-word;
      // border: 1px solid red;
      left: 50%;
    }

    .age{
      position: absolute;
      top: 48%;
      left: 10%;
      .fas{
        // font-family: Arial, Helvetica, sans-serif;
      }
    }
    .img-prie{
      position: absolute;
      width: 700px;
      height: 90px;
      animation: myanimation 10s infinite;
    }
    
    .input-prof{
      position: absolute;
      top: 30%;
      left: 30%;
    }
    .img-prof{
      position: absolute;
      top: 9%;
      left: 10%;
      .img-prof-f{
        border: 1px solid black;
        border-radius: 50%;
        width: 120px;
        height: 120px;
      }
    }
  }
}


.group{
  // overflow: -moz-scrollbars-vertical;
  // overflow-y: scroll;
  // overflow-wrap: break-word;
  position: absolute;
  top: 6.4%;
  left: 0.1%;
  width: 25vw;
  height: 81.4vh;
  // border: 1px solid red;

  
  .headgroup{
    width: 425px;
    height: 70px;
    border-radius: 10px 10px;
    box-shadow: 0px 0px 15px -5px;
    .avatargr{
      top: 10px;
      position: absolute;
      left: 30px;
      .avatargr-1{
        width: 50px;
        border-radius: 50%;
        // border: 1px solid red;
        height: 50px;
      }
      
    }

    .createo{
      width: 25px;
      height: 25px;
      border-radius: 50%;
      margin-left: 380px;
      margin-top: 10px;
      cursor: pointer;
    }
    .btn-create{
      top: 10px;
      position: absolute;
      left: 380px;
      .create{
        cursor: pointer;
        width: 25px;
        border-radius: 50%;
        // border: 1px solid red;
        height: 25px;
      }
    }
  }
  

  .listmem{
    overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  overflow-wrap: break-word;
    border: 1px solid gray;
    width: 425px;
    height: 655px;
    .groupoo{
      border: 1px solid gray;
      height: 70px;
      margin-top: 10px;
      border: none;
      cursor: pointer;
      .avtargr{
        border-radius: 50%;
        position: absolute;
        margin-top: 6px;
        margin-left: 10px;
      }
      .p-goup{
        font-size: 20px;
        margin-top: 5.6%;
        margin-left: 80px;
        position: absolute;
        text-transform: uppercase;
      }
    }

    .groupoo:hover{
      background-color: #F0F2ED;
    }
  }
  
}
.listfriend{
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  overflow-x:hidden;
  overflow-wrap: break-word;
  position: absolute;
  top: 6.4%;
  width: 20vw;
  height: 81.4vh;
  // border: 1px solid red;
  left: 79.9%;

  .pf{
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 20px;
    // border: 1px solid red;
  }

  .hipe:hover{
    background-color: #F0F2ED;
  }
  .hipe{
    width: 18vw;
    margin-top: 10px;
    height: 65px;
    // border: 1px solid red;
    .pic4{
      position: absolute;
    width: 55px;
    height: 55px;
    margin-top: 4px;
    margin-left: 20px;
    border-radius: 50%;
    }
    .Onlline{
      position: absolute;
      // margin-top: 50px;
      margin-top: 50px;
      margin-left: 17%;
      border-radius: 50%;
      width: 15px;
      height: 15px;
    }
    .Offline{
      position: absolute;
      margin-top: 50px;
      margin-left: 17%;
      border-radius: 50%;
      width: 15px;
      height: 15px;
    }
  
    .pichan{
      // position: absolute;
      // // margin-left: 20px;
      // border: none;
      // height: 70px;
      width: 20vw;
      top: 30%;
      // // width: 200px;
      // border: 1px solid red;
      // // margin-top: px;
     
      .chanx{
        // // border: 1px solid red;
        position: absolute;
        // // border: 1px solid red;
        // font-size: 20px;
        margin-top: 20px;
        width: 300px;
        // font-family: cursive;
        margin-left: 100px;
        // position: absolute;
      }
     
    }
  }
 
}

.headerchat{
  position: absolute;
  top: 6.4%;
  width: 50vw;
  height: 8vh;
  // border: 1px solid red;
  border-bottom: 1px solid gray;
  left: 25%;

  .meni{
    cursor: pointer;
    top: 15%;
    margin-left: 800px;
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
  }
  .nameavto{
    position: absolute;
    top: 15%;
    left: 4%;
    border-radius: 50%;
  }
  .name{
    position: absolute;
    top: 30%;
    left: 10%;
    font-size: 20px;
    text-transform: uppercase;
  }
  .addmember{
    border: none;
    height: 30px;
    border-radius: 10px 10px;
    position: absolute;
    // top: 8%;
    left: 80%;
  }
  .addmember:hover{
    background-color: aquamarine;
  }
  .activ{
    border: 50%;
    position: absolute;
    left: 90%;
    .activatings{
    cursor: pointer;
    width: 50px;
    height: 30px;
  }
  }
  
}



.handlechat{
  position: absolute;
  top: 70%;
  left: 100%;
  border: 1px solid red;
  width: 850px;
  height: 70px;
}
.chiopl{
  // border: 1px solid red;
  // border-top: 1px solid gray;
  position: absolute;
  top: 83%;
  width: 50vw;
  height: 4.6vh;
  left:25%;

  .chat-con{
    // margin-top: 2px;
    margin-left: 220px;
    // border: 1px solid red;
    width: 620px;
    background-color: #F2F3F4;
    height: 38px;
    border-radius: 50px 50px;
     .input-chat{
       border: none;
       background-color: #F2F3F4;
    position: absolute;
    margin-top: 0px;
    font-size: 13px;
    outline: none;
    margin-top: 3px;
    margin-left: 9px;
    width: 600px;
    height: 30px;
  }
  }
 

}

.chati{

  position: absolute;
  // border: 1px solid red;
  width: 850.5px;
  height: 580px;
  top: 14.5%;
  left: 25%;
}



.cati{
  margin-top: 5%;
  // border: 1px solid red;
  height: 300px;

  .poci{
    // border: 1px solid red;
    height: 75px;
    .poirc{
      margin-right: 10px;
      margin-top: 10px;
      float: right;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  
  .poird{
    margin-left: 10px;
      margin-top: 10px;
    float: left;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  }
  }


  .abcd{
    // border: 1px solid red;
    height: 20px;
    .c{
      margin-right: 10px;
      margin-top: 0px;
        float: right;
        height: 20px;
        margin-bottom: 0px;
    }
  
    .d{
      margin-left: 10px;
      margin-top: 0px;
        float: left;
        height: 20px;
        margin-bottom: 0px;

    }
  }

  .timezone{
    // border: 1px solid red;
    height: 30px;
    // margin-top: 65px;
    .k{
      margin-right: 10px;
      margin-top: 0px;
        float: right;
        height: 20px;
        margin-bottom: 0px;
    }
    .g{
      margin-left: 10px;
      margin-top: 0px;
        float: left;
        height: 20px;
        margin-bottom: 0px;
    }
  }

  .iconseri{
    // border: 1px solid red;
    height: 34px;
    .likeyo{
      float: right;
      border-radius: 50%;
      margin-top: 1.5px;
      // border: 1px solid red;
      height: 30px;
      width: 30px;
      // margin-left: 40px;
    }
    .likei{
      float: right;
      border-radius: 50%;
      margin-top: 1.5px;
      // border: 1px solid red;
      height: 30px;
      width: 30px;
      margin-left: 30px;
    }

    .likeii{
      float: right;
      margin-top: 10px;
      margin-right: 10px;
    }

    .likeik{
      float: right;
      margin-top: 10px;
      margin-right: 10px;
    }

    .likeiki{
      float: right;
      margin-top: 10px;
      margin-right: 690px;
    }

    .likey{
      float: right;
      border-radius: 50%;
      margin-top: 1.5px;
      // border: 1px solid red;
      height: 30px;
      width: 30px;
      margin-left: 30px;
    }
  }

  .mys{
    // border: 1px solid red;
    height: 140px;
    .r{
      margin-right: 10px;
      margin-top: 0px;
        float: right;
        height: 20px;
        width: 550px;
        margin-bottom: 0px;
        font-size: 20px;
    // font-size: 1vw;
    text-align: right;
    word-wrap: break-word;
    }
    .t{
      margin-left: 10px;
      margin-top: 0px;
        float: left;
        height: 20px;
        width: 550px;
        margin-bottom: 0px;
        word-wrap: break-word;
    }
  }
  

  
}



.wib{
  position: absolute;
  top: 15%;
  left: 47%;
  width: 250px;
  height: 400px;
  border-radius: 0.5%;
}



.send-post{
  // border: 1px solid red;
  height: 300px;
  .arepost{
    margin-top: 15px;
    width: 468px;
    height: 300px;
    outline: none;
  }
}
.okmg{
  position: absolute;
  margin-left: 10% ;
  margin-top: -5%;
}
.rungroi{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.srsearch{
  position: absolute;
  top: 17%;
  left: 50%;
}