// .users-container{
  
//   width: 65vw;
//   top: 5.2%;
//   left: 20%;
//   height: 86vh;
//   position: absolute;
//   // border: 1px solid red;

//   .testok{
//     position: absolute;
//       left:7%;
//       top: 1%;
//       height: 600px;
//       width: 650px;

 .commentpost{
  border: 1px solid red;
  height: 20px;
}

.scopei{
  // border: 1px solid red;
  border-top: 1px solid gray;
  height: 320px;
  .headcom{
    margin-top: 2%;
    margin-left: 17px;
  }
  .avtarcom{
    // border-radius: 50%;
    margin-left: 3%;
  }
  .btn-comment:hover{
    background-color: aqua;
  }
  .btn-comment{
    border: none;
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .formo{
    // border: 1px solid red;
    padding-left: 20px;
    padding-right: 20px;
    height: 100px;
    .formo1{
      outline: none;
      width: 600px;
      height: 200px;
    }
  }
}


    
.text-post{
  box-shadow: 0px 0px 5px 0px;
  border-radius: 10px 10px;
  position: absolute;
  width: 640px;
  height: 70px;
  left: 11%;
  // border: 1px solid red;
  top: 40%;
  .img-post{
    position: absolute;
    margin-top: 9px;
    margin-left: 40px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .clickmodal{
   
    cursor: pointer;
    margin-top: 14px;
    margin-left: 100px;
    position: absolute;
    border: 1px solid gray;
    border-radius: 50px 50px;
    width: 525px;
    height: 40px;
    .hclick{
      color: gray;
      font-style: italic;
      margin-top: 11px;
      margin-left: 20px;
    }
  }
}

//     .btn-lock{
//       border: 1px solid black;
//       position: absolute;
//       cursor: pointer;
//       width: 20%;
//       left:79%;
//       font-size:200%;
//     }
//     .Input_text{
//       font-size: 200%;
//       border-radius: 2.5%;
//       height: 120px;
//       width: 100%;
//     }
//   }
  
// }
.nav2{
  // box-shadow: 0px 0px 15px -5px;
  position: absolute;
  // border: 1px solid red;
  top: 5.2%;
  left: 80%;
  width: 100vw;
  height: 86vh;
}
.nav-setting-user{
  top: 10%;
  width: 20vw;
  height: 30vh;
  position: absolute;
  left: 0.7%;
  // border: 1px solid red;
  box-shadow: 0px 0px 15px -1px;
  border-bottom-left-radius: 2.5%;
  border-bottom-right-radius: 2.5%;
  border-top-left-radius: 1.5%;
  border-top-right-radius: 1.5%;
  .nav-child-setting:hover{
    background-color: #FFECEC
  }
  .nav-child-setting{
    position: absolute;
      top: 20px;
      width: 341.3px;
      height: 50px;
      color: black;
      // border: 1px solid red;
      cursor: pointer;
      .nav-img-setting{
        margin-top: 4.5px;
            margin-left: 55px;
            position: absolute;
            .navimg-setting{
              width: 40px;
                    height: 40px;
                    border-radius: 50%;
            }
      }
      .nav-text-setting{
        position: absolute;
        top: 20%;
        left: 35%;
        font-size: 20px;
      }
  }


  .nav-child-setting1:hover{
    background-color: #FFECEC
  }
  .nav-child-setting1{
    position: absolute;
      top: 80px;
      width: 341.3px;
      height: 50px;
      color: black;
      // border: 1px solid red;
      cursor: pointer;
      .nav-img-setting1{
        margin-top: 4.5px;
            margin-left: 55px;
            position: absolute;
            .navimg-setting1{
              width: 40px;
                    height: 40px;
                    border-radius: 50%;
            }
      }
      .nav-text-setting1{
        position: absolute;
        top: 20%;
        left: 35%;
        font-size: 20px;
      }
  }


  .nav-child-setting2:hover{
    background-color: #FFECEC
  }
  .nav-child-setting2{
    position: absolute;
      top: 140px;
      width: 341.3px;
      height: 50px;
      color: black;
      // border: 1px solid red;
      cursor: pointer;
      .nav-img-setting2{
        margin-top: 4.5px;
            margin-left: 55px;
            position: absolute;
            .navimg-setting2{
              width: 40px;
                    height: 40px;
                    border-radius: 50%;
            }
      }
      .nav-text-setting2{
        position: absolute;
        top: 20%;
        left: 35%;
        font-size: 20px;
      }
  }
}

// .navz{
//   position: absolute;
//   top: 300px;
//   width: 341.3px;
//   height: 50px;
//   color: black;
//   // border: 1px solid red;
//   cursor: pointer;

//   .navcim{
//     margin-top: 4.5px;
//     margin-left: 55px;
//     position: absolute;
//     .navimg{
//       width: 40px;
//       height: 40px;
//       border-radius: 50%;
//     }
//   }


//   .navzk{
//     position: absolute;
//     left: 120px;
//     top: 10px;
//     font-family: Arial, Helvetica, sans-serif;
//     font-size: 20px;
//   }

// }

// .navz:hover
// {
//   background-color: #FFECEC;
// }
.nav{
  // box-shadow: 0px 0px 15px -1px;
    top: 6.5%;
    width: 20vw;
    height: 60vh;
    position: absolute;
    left: 0.7%;
    // border: 1px solid red;
    border-bottom-left-radius: 2.5%;
    border-bottom-right-radius: 2.5%;
    border-top-left-radius: 1.5%;
    border-top-right-radius: 1.5%;
      .navz{
        position: absolute;
        top: 300px;
        width: 341.3px;
        height: 50px;
        color: black;
        // border: 1px solid red;
        cursor: pointer;

        .navcim{
          margin-top: 4.5px;
          margin-left: 55px;
          position: absolute;
          .navimg{
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }
        }


        .navzk{
          position: absolute;
          left: 120px;
          top: 10px;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 20px;
        }

      }

      .navz:hover
      {
        background-color: #FFECEC;
      }
    
      .vacim{
        margin-top: 20px;
        position: absolute;
        left: 48px;
        width: 250px;
        height: 250px;
        cursor: pointer;
        color: black;
        border-radius: 5%;
        box-shadow: 0px 0px 15px -5px;
        .colab{
          transition: 0.6s;
        }
        .navk{
          .navcim{
            margin-top: 10px;
            margin-left: 25px;
            position: absolute;
          .navimg{
            width: 200px;
            height: 200px;
            border-radius: 50%;     
          }    
        }
           
        }
        .vancem{
          position: absolute;
          left: 65px;
          top: 215px;
          font-weight: bold;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 20px;
        }
      }   




      .navz1{
        position: absolute;
        top: 360px;
        width: 341.3px;
        height: 50px;
        color: black;
        // border: 1px solid red;
        cursor: pointer;

        .navcim1{
          margin-top: 4.5px;
          margin-left: 55px;
          position: absolute;
          .navimg1{
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }
        }


        .navzk1{
          position: absolute;
          left: 120px;
          top: 10px;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 20px;
        }

      }

      .navz1:hover
      {
        background-color: #FFECEC;
      }
    
    
  }

  .nav3{
    display:none;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    top: 5.1%;
    width: 13vw;
    height: 20vh;
    position: absolute;
    left: 13%;
    border: 1px solid gray;
    background-color: #F0F2ED;
    .ul2{
      border: none;      
      width: 12.9vw;
      background-color: #F0F2ED;
            .link{
              font-size: 100%;
              color: black;
              border: none;
              background-color: #F0F2ED;
            }
          }
    
  }

  
  // ul {
  //   list-style-type: none;
  //   margin: 0;
  //   padding: 0;
  //   width: 19vw;
  //   // background-color: white;
  //   border: none;
  // }
  
  // li a {
  //   display: block;
  //   color: #000;
  //   // padding: 8px 16px;
  //   text-decoration: none;
  // }
  
  // li:last-child {
  //   border-bottom: none;
  // }
  
  // li a.active {
  //   background-color: olivedrab;
  //   color: white;
  // }
  
  // li a:hover:not(.active) {
  //   background-color: #555;
  //   color: white;
  // }


  .manage-fr{
    // border: 1px solid red;
    position: absolute;
    top: 7%;
    width: 100vw;
    height: 80vh;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
    overflow-wrap: break-word;
    .cardi2{
      position: relative;
      float: left;
      margin-left: 2%;
      .btn-act{
        position: absolute;
        bottom: 0px;
      }
    }
  }