
@media screen and (max-width: 400px) and (min-width: 350px) {
	.container{
		width: 350px !important;
		min-height: 300px !important;
	}
	.overlay-panel{
		padding: 0 10px !important;
	}

	.sign{
		font-size: 15px !important;
	}

	.input5{
		width: 150px !important;
		font-size: 8px !important;
	}

	.input6{
		margin-top: 15px !important;
		width: 150px !important;
		font-size: 8px !important;
	}

	.button3{
		font-size: 10px !important;
		padding: 8px 20px !important ;
	}

	a{
		font-size: 12px !important;
	}

	h1{
		font-size: 15px !important;
	}
	.Error{
		font-size: 8px !important;
		width: 150px !important;
		margin-left: -20px !important;
		top: 40% !important;
	}

	.Error3{
		font-size: 8px !important;
		width: 150px !important;
		margin-left: -40px !important;
		top: 31.5% !important;
	}
	
	.Error4{
		font-size: 8px !important;
		width: 150px !important;
		margin-left: -44px !important;
		top: 48.4% !important;
	}
	.Error5{
		font-size: 8px !important;
		width: 150px !important;
		margin-left: -12px !important;
		top: 48.4% !important;
	}
	.Error6{
		font-size: 8px !important;
		margin-left: 5px !important;
	}
	

	.Error10{
		font-size: 8px !important;
		width: 150px !important;
		margin-left: -20px !important;
		top: 57% !important;
	}
	p{
		width: 100px !important;
		font-size: 12px !important;
		
		
	}
	p.chet{
		width: 300px !important;
	}

	

	.ghost{
		font-size: 10px !important;
		padding: 8px 20px !important ;
		width: 120px !important;
		// top: 50% !importantgosht;
		.link
		{
		font-size: 8px !important;
		}
	}

	.ghost1{
		font-size: 10px !important;
		padding: 8px 20px !important ;
		width: 120px !important;
		margin-top: 43px !important;
		// top: 50% !importantgosht;
		.link
		{
		font-size: 8px !important;
		}
	}

	.input7{
		margin-top: 15px !important;
		width: 150px !important;
		font-size: 8px !important;
	}

	.button5{
		padding: 8px 20px !important;
		top: 60.5% !important;
		.link{
			font-size: 8px !important;
		}
	}


	.containerx{
		height: 300px !important;
		width: 300px !important;
		.textx{
			
			font-size: 15px !important;
			margin-left: 19px !important;
		}

		.top{
			margin-left: -45px !important;
		}

		.textx1{
			font-size: 15px !important;
		}

		.textx2{
			font-size: 15px !important;
		}

		.inputx1{
			font-size: 15px !important;
			width: 286px !important;
		}
		.inputx2{
			font-size: 15px !important;
			width: 286px !important;
		}

		.Errorx1{
			width: 300px !important;
			font-size: 10px !important;
		}
		.Errorx2{
			width: 300px !important;
			font-size: 10px !important;
		}

		.px{
			width: 300px !important;
		}
	}

}


@keyframes example {
	0%   {background-color: red;}
	25%  {background-color: yellow;}
	50%  {background-color: blue;}
	100% {background-color: green;}
  }

.back-ground {
	background: #DE6A51;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	animation-name: example;
  	animation-duration: 10s;
}

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.button3 {
	position: absolute;
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	top: 70%;
}

.button5 {
	position: absolute;
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	top: 65.8%;
}

.button4 {
	position: absolute;
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	top: 75%;
}

.ghost1 {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	background-color: transparent;
	border-color: #FFFFFF;
	// top: 50%;
	margin-top: 75px;
}

.ghost {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	background-color: transparent;
	border-color: #FFFFFF;
}

.ok {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}
.sign{
	position: absolute;
	top:20%;
}

.sign1{
	position: absolute;
	top:15%;
}

.input5 {
	// position: absolute;
	outline: none;
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	// top: 30%;
	width: 100%;
}
.input6 {
	// position: absolute;
	outline: none;
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	// top: 60%;
	margin-top: 8%;
	width: 100%;
}

.input7 {
	// position: absolute;
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	// top: 60%;
	outline: none;
	margin-top: 8%;
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}



.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	
}


.overlay {
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  
}



.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
}


.overlay-right {
	right: 0;
	
}


.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

.Error{
	position: absolute;
	color: red;
	top:43%;
	left: 14%;
	
	font-size: 11px;
}

.Error6{
	position: absolute;
	color: red;
	top:85%;
	left: 3%;
	
	font-size: 11px;
}
.containerx{
	position: absolute;
	border: 1px solid grey;
	background-color: whitesmoke;
	top:0;
	bottom: 0;
	right: 0;
	left: 0;
	height: 400px;
	width: 400px;
	margin: auto;

	.Errorx1{
		position: absolute;
		top: 31%;
		left: 2%;
		font-size: 11px;
		color: red;
	}

	.Errorx2{
		position: absolute;
		top: 53%;
		left: 2%;
		font-size: 11px;
		color: red;
	}


	.textx{
		position: absolute;
		text-align: center;
		top: 5%;
		left: 25%;
	}

	.textx1{
		position: absolute;
		top: 20%;
		font-size: 20px;
		left: 2%;
	}
	.textx2{
		position: absolute;
		top: 42%;
		font-size: 20px;
		left: 2%;
	}

	.inputx1{
		position: absolute;
		top: 27%;
		left: 2%;
		width: 380px;
		height: 34px;
		outline: none;
		border: 1px solid grey;
	}


	.inputx2{
		position: absolute;
		top: 49%;
		left: 2%;
		width: 380px;
		height: 34px;
		outline: none;
		border: 1px solid grey;
	}

	.button8 {
		position: absolute;
		border-radius: 15px;
		left: 2%;
		border: 1px solid #FF4B2B;
		background-color: #FF4B2B;
		color: #FFFFFF;
		font-size: 12px;
		font-weight: bold;
		padding: 5px 20px;
		letter-spacing: 1px;
		text-transform: uppercase;
		top: 65.8%;
	}


}

.Error3{
	position: absolute;
	color: white;
	top:36.5%;
	left: 11%;
	
	font-size: 11px;
}

.Error4{
	position: absolute;
	color: white;
	top:50.5%;
	left: 11%;
	
	font-size: 11px;
}
.px{
	position: absolute;
	top: 75%;
	width: 400px;
	text-align: center;
}
.top{
	position: absolute;
	top: 13%;
	width: 400px;
	text-align: center;
}
.Error99{
	position: absolute;
	color: white;
	top:50.5%;
	left: 10%;
	
	font-size: 11px;
}
.Error5{
	position: absolute;
	color: white;
	top:64.5%;
	left: 11%;
	
	font-size: 11px;
}

.modal .modal-dialog .modal-content .modal-header {
    padding: 0 10px;
    height: 35px;
    background-color: #DE6A51;;
    color: white;
}
.modal-header{
	button{
		background-color: transparent !important;
		color: white;
		height: 45px;
		border: none;
		width: 30px;
		

		span{
			font-size: 30px;
		}
	}
}

.input-forg{
	width: 300px;
	outline: none;
}

.forg{
	position: absolute;
	cursor: pointer;
	top: 80%;
}

.yes{
	background-color: red;
}

.Error10{
	position: absolute;
	color: red;
	top: 56%;
	left: 14%;
	font-size: 11px;
}


