@import "../../styles/common.scss";

.header-container {
    position: fixed;
    top: 0px;
    height: 6vh;
    width: 100vw;
    // background-color: #A4A0A0;  
    background-repeat: no-repeat;
    background-color: white;
    
    box-shadow: 0px 0px 15px -5px;
    transition: 0.6s;
    z-index: 100000;
    .text-dudes{
        display: flex;
        justify-content: center;
        .text-dude{
        position: absolute;
       
        // top: -10px;
        font-family: 'Brush Script MT';
        font-size: 50px;
    }
    }
    
   
    .Name{
        position:absolute;
        margin-top: 0.6%;
        left: 6%;
    }

    .io{
        position: absolute;
        left: 20%;
        top: 10%;
    }

    .avtart{
        position: absolute;
        margin-top: 0.15%;     
        margin-left: 2%;
        .v-avtart{
            transition: width 2s;
            width: 47px;
            border-radius: 50%;
            height: 47px;
        }
        .v-avtart:hover{
            
            // border-radius: 5%;
            box-shadow: 5px 5px 20px -5px;
            
        }
        
    }
    
    .btn-logout{
        cursor: pointer;
        position:absolute;
        margin-top: -0.45%;
        left: 95%;
        font-weight: bold;
    }

    .social{
        left: 3%;
        right: 5%;
        position:absolute;
        .pic{
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }

    .lp{
        left: 95%;
        position: absolute;
        margin-top: 0.15%; 
        .okk{
            width: 47px;
            height: 47px;
            border-radius: 50%;
            cursor: pointer;
        }
    }
}

.Forgot-account{
    position: absolute;
    top: -356px;
    left: 94.15%;
}